<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".buyFood.buyfoodlist"> </activity>
        <activity android:name=".buyFood.fooditem" />
        <activity android:name=".buyFood.checkout" />
        <activity android:name=".buyFood.comfirmation" />
        <activity android:name=".buyFood.comfirmation_cond" />
        <activity android:name=".buyFood.newaddress"></activity>
        <activity android:name=".sellFood.Selling"/>
        <activity android:name=".sellFood.Confirm"  android:parentActivityName=".sellFood.Selling"></activity>

        <activity android:name=".sellFood.Listings"></activity>
        <activity android:name=".Tracking2"></activity>
        <activity android:name=".deliverFood.Delivery_main">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
        <activity android:name=".deliverFood.Deliveryinfo1"></activity>
        <activity android:name=".deliverFood.DeliveryInfo2"></activity>
        <activity android:name=".deliverFood.DeliveryInfo3"></activity>
        <activity android:name=".sellFood.Listing" android:parentActivityName=".sellFood.Listings"></activity>
    </application>

</manifest>
